<div>Derection 1: Đệ Nhất, Hoàng Việt, Phường 4, Tan Binh, Ho Chi Minh City</div>

<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Kh%C3%A1ch%20s%E1%BA%A1n%20%C4%90%E1%BB%87%20Nh%E1%BA%A5t%2C%20Ho%C3%A0ng%20Vi%E1%BB%87t%2C%20Ph%C6%B0%E1%BB%9Dng%204%2C%20Tan%20Binh%2C%20Ho%20Chi%20Minh%20City&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.bitgeeks.net"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>

<div>Derection 2: Tan Son Nhat Hotel Saigon, Hoàng Văn Thụ, Phú Nhuận, Hồ Chí Minh, Vietnam</div>

<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Kh%C3%A1ch%20s%E1%BA%A1n%20T%C3%A2n%20S%C6%A1n%20Nh%E1%BA%A5t%20S%C3%A0i%20G%C3%B2n%2C%20Ho%C3%A0ng%20V%C4%83n%20Th%E1%BB%A5%2C%20Ph%C6%B0%E1%BB%9Dng%201%2C%20Ph%C3%BA%20Nhu%E1%BA%ADn%2C%20Ho%20Chi%20Minh%20City&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.bitgeeks.net"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>

<div>Derection 3: Phòng trọ sinh viên bình thạnh, Đinh Bộ Lĩnh, Phường 26, Bình Thạnh, Ho Chi Minh City</div>

<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Ph%C3%B2ng%20tr%E1%BB%8D%20sinh%20vi%C3%AAn%20b%C3%ACnh%20th%E1%BA%A1nh%2C%20%C4%90inh%20B%E1%BB%99%20L%C4%A9nh%2C%20Ph%C6%B0%E1%BB%9Dng%2026%2C%20B%C3%ACnh%20Th%E1%BA%A1nh%2C%20Ho%20Chi%20Minh%20City&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.bitgeeks.net"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>

<div>Derection 4: Phòng Trọ Ngọc Hân, Trần Bá Giao, Phường 5, Gò Vấp, Ho Chi Minh City</div>

<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Ph%C3%B2ng%20Tr%E1%BB%8D%20Ng%E1%BB%8Dc%20H%C3%A2n%2C%20Tr%E1%BA%A7n%20B%C3%A1%20Giao%2C%20Ph%C6%B0%E1%BB%9Dng%205%2C%20G%C3%B2%20V%E1%BA%A5p%2C%20Ho%20Chi%20Minh%20City&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.bitgeeks.net"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>

<div>Derection 5: Phòng Trọ Be Home, Đường Số 23, Phường 5, Gò Vấp, Ho Chi Minh City</div>

<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Ph%C3%B2ng%20Tr%E1%BB%8D%20Be%20Home%2C%20%C4%90%C6%B0%E1%BB%9Dng%20S%E1%BB%91%2023%2C%20Ph%C6%B0%E1%BB%9Dng%205%2C%20G%C3%B2%20V%E1%BA%A5p%2C%20Ho%20Chi%20Minh%20City&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.bitgeeks.net"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>